.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Varela, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.6;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

a {
  color: #b0aeae;
  text-decoration: none;
}

.section.full-page {
  position: relative;
  z-index: 0;
  display: block;
  min-height: 30vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  margin-top: 6vh;
  margin-bottom: 6vh;
  padding: 36px;
  text-align: center;
}

.section-2 {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #1b1e28;
  background-image: url('../images/hero-background.png');
  background-position: 0% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
}

.container-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  max-width: 1280px;
  min-height: 100px;
}

.image {
  margin-bottom: 64px;
}

.paragraph {
  max-width: 50ch;
  font-family: Varela, sans-serif;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0px;
}

.body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  letter-spacing: 0.89px;
}

.heading {
  font-family: Arapey, sans-serif;
  font-weight: 400;
  letter-spacing: -0.89px;
}

.section-3 {
  margin-top: -8%;
}

.container-3 {
  position: relative;
  z-index: 10;
  margin-right: auto;
  margin-bottom: -50vh;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  max-width: 600px;
  min-height: 350px;
  min-width: 50%;
  padding: 36px 28% 36px 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #fff;
  background-image: url('../images/card.png');
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.07);
  color: #b0aeae;
}

.div-block.alt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-2 {
  font-family: Arapey, sans-serif;
  color: #b0aeae;
  letter-spacing: 0px;
}

.paragraph-2 {
  max-width: 45ch;
}

.text-block {
  margin-bottom: 23px;
}

.submit-button {
  border-style: solid;
  border-width: 1px;
  border-color: #b0aeae;
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.6);
  color: #b0aeae;
  letter-spacing: 1px;
}

.form-input {
  min-height: 30px;
  margin-bottom: 14px;
  padding: 25px 20px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0.9)), to(hsla(0, 0%, 100%, 0.1)));
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.1));
}

.form-input::-webkit-input-placeholder {
  color: rgba(176, 174, 174, 0.7);
}

.form-input:-ms-input-placeholder {
  color: rgba(176, 174, 174, 0.7);
}

.form-input::-ms-input-placeholder {
  color: rgba(176, 174, 174, 0.7);
}

.form-input::placeholder {
  color: rgba(176, 174, 174, 0.7);
}

.form-input.text-area {
  min-height: 130px;
  margin-bottom: 30px;
}

.div-block-2 {
  margin-top: 60px;
  padding: 21px 21px 60px;
}

.text-block-2 {
  color: #b0aeae;
  text-align: center;
}

.text-block-3 {
  color: #b0aeae;
  text-align: center;
}

.grid {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.link-block {
  padding: 5px;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  border-bottom: 2px solid #000;
}

.rich-text-block {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .section-2 {
    padding-right: 30px;
    padding-left: 30px;
    background-size: cover;
  }

  .container-3 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .div-block {
    width: auto;
    max-width: none;
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .container {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .section-2 {
    padding: 22px;
  }

  .div-block {
    padding: 20px;
    background-position: 83% 100%;
    background-size: cover;
  }

  .form-input {
    background-image: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0.9)), to(hsla(0, 0%, 100%, 0.5)));
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.5));
  }
}

#w-node-ea505f2f-cee0-1799-8f20-626935663372-35663371 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-ea505f2f-cee0-1799-8f20-626935663374-35663371 {
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-ea505f2f-cee0-1799-8f20-626935663376-35663371 {
  -ms-grid-column-align: start;
  justify-self: start;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-ea505f2f-cee0-1799-8f20-626935663378-35663371 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

